@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-cursor {
    /* Customize cursor appearance */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust color and opacity */
  }

body{
    font-family: Anuphan;
}
  
.bordered-text {
    color: black;
    text-shadow:
     -1px -1px 0 white,  
      1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
  }